/* components/CurrentOrderDetails/CurrentOrderDetails.wxss */
.currentOrderDetails {
  box-sizing: border-box;
  padding: 20rpx 28rpx 32rpx 28rpx;
  width: 100%;
  .common {
    background-color: #ffffff;
    border-radius: 14rpx;
  }
  .vantCountDown {
    color: red;
    .van-count-down {
      --count-down-text-color: #ef6527;
    }
  }
  > .status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40rpx 20rpx;
    position: relative;
    >.poi{
      position: absolute;
      top: 0;
      left: 0;
      border: 1rpx solid #a7d30c;
      border-radius: 4rpx;
      padding: 4rpx 8rpx;
      color: #a7d30c;
      font-size: 20rpx;
    }
    > .text {
      font-size: 36rpx;
      color: #313131;
    }
    > .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50rpx;
      .cancel,
      .confirm {
        width: 180rpx;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 30rpx;
        line-height: 64rpx;
        text-align: center;
        border-radius: 10rpx;
      }
      .cancel {
        background-color: #ffffff;
        border: 2rpx solid #a0a4a7;
        color: #595758;
      }
      .confirm {
        background-color: #a7d500;
        color: #ffffff;
        border: none;
      }
      .mleft30{
        margin-left: 60rpx !important;
      }
    }
  }
  > .orders {
    padding: 36rpx 30rpx 32rpx 30rpx;
    box-sizing: border-box;
    overflow: hidden;
    > .address {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      > .viewOne {
        width: 70%;
      }
      > .viewTwo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        > .iconfont {
          font-size: 50rpx;
          color: #a7d30c;
        }
      }
    }
    > .split {
      width: 100%;
      position: relative;
      height: 40rpx;
      margin-top: 20rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      > .round {
        position: absolute;
        top: 0;
        width: 40rpx;
        height: 40rpx;
        background-color: #f1f2f4;
        border-radius: 50%;
        &.left {
          left: -60rpx;
        }
        &.right {
          right: -60rpx;
        }
      }
      > .line {
        border-top: 4rpx dashed #e1e5e8;
        width: 100%;
      }
    }
    > .record {
      > .items {
        box-sizing: border-box;
        > .item {
          margin-top: 34rpx;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          &:nth-child(1) {
            margin-top: 10rpx;
          }
          > .images {
            width: 120rpx;
            height: 120rpx;
            .img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      > .upDown {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-top: 20rpx;
        height: 40rpx;
      }
    }
  }
  > .cost {
    box-sizing: border-box;
    padding: 30rpx;
    > view {
      margin-top: 20rpx;
      &:nth-child(1) {
        margin-top: 0;
      }
      .copy {
        background-color: #ffffff;
        border: 3rpx solid #a0a4a7;
        border-radius: 8rpx;
        color: #313131;
        text-align: center;
        width: 100rpx;
      }
    }
  }
}

.pickerToolbar {
  --picker-confirm-action-color: #a9cd2f !important;
  --picker-cancel-action-color: #474b4e !important;
  --picker-action-font-size: 32rpx;
}
