/* pages/orderSettlement/orderSettlement.wxss */
.orderSettlement {
  box-sizing: border-box;
  padding: 0 20rpx 170rpx 20rpx;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  > .top {
    background-color: #ffffff;
    border-radius: 14rpx;
    box-sizing: border-box;
    padding: 28rpx 28rpx 0 28rpx;
  }
  .commonBg {
    background-color: #ffffff;
    border-radius: 14rpx;
    box-sizing: border-box;
  }
  > .commodity {
    background-color: #ffffff;
    border-radius: 14rpx;
    box-sizing: border-box;
    padding: 30rpx 28rpx;
    > .list {
      margin-top: 44rpx;
      &:nth-child(1) {
        margin-top: 0;
      }
    }
    > .cost {
      margin-top: 44rpx;
      border-top: 2rpx solid #e3e4e8;
    }
    .commonStyle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 28rpx;
      color: #313131;
    }
    .labelChecked {
      --checkbox-label-color: #313131;
      font-size: 28rpx;
    }
    .customChecked {
      justify-content: flex-end;
    }
  }
  .borderb {
    border-bottom: 2rpx solid #e3e4e8;
  }
  .selfPhone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 28rpx 0;
  }
  .selfRadio {
    width: 100%;
    .viewRadio {
      box-sizing: border-box;
      padding: 40rpx 0;
      width: 50%;
      display: flex;
      justify-content: center;
      &:nth-child(1) {
        border-right: 2rpx solid #e3e4e8;
      }
    }
  }
  .collocation {
    padding: 30rpx 0;
    .scrollList {
      margin-top: 30rpx;
      white-space: nowrap;
      .inter {
        box-sizing: border-box;
        padding: 0 28rpx;
        display: inline-block;
      }
      .listView {
        display: inline-block;
        margin-left: 20rpx;
        border: 2rpx solid #e3e4e8;
        box-sizing: border-box;
        padding-bottom: 20rpx;
        width: 260rpx;
        min-height: 380rpx;
        border-radius: 10rpx;
        &.active {
          border-color: #a7d500;
        }
        &:nth-child(1) {
          margin-left: 0;
        }
        > image {
          width: 100%;
          height: 260rpx;
        }
        > .title {
          box-sizing: border-box;
          padding: 10rpx;
          font-size: 26rpx;
          color: #313131;
        }
        > .price {
          font-size: 26rpx;
          color: #313131;
          box-sizing: border-box;
          padding: 0 10rpx;
        }
        .count {
          margin-top: 20rpx;
          display: flex;
          align-items: center;
          justify-content: center;
          .iconfont {
            font-size: 50rpx;
          }
          .icon-iconset0187 {
            color: #b3b7b8;
          }
          .icon--jia {
            color: #a7d500;
          }
          .text {
            font-size: 32rpx;
            padding: 0 8rpx;
            min-width: 70rpx;
            text-align: center;
          }
        }
      }
    }
  }
  .discount {
    .coupon {
      width: 100%;
      height: 90rpx;
      background-color: #fff9e9;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding-right: 28rpx;
      padding-left: 80rpx;
      .icon-arrow_up {
        position: absolute;
        top: -34rpx;
        left: -33rpx;
        transform: rotate(225deg);
        font-size: 100rpx;
        color: #ffc211;
      }
      .text {
        font-size: 18rpx;
        color: #ffffff;
        position: absolute;
        top: 8rpx;
        left: 6rpx;
        font-weight: bold;
        transform: rotate(-45deg);
      }
    }
    .couponCard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30rpx 0;
      border-bottom: 2rpx solid #e1e5e7;
      .mark {
        background-color: #a7d500;
        border-radius: 7rpx;
        padding: 4rpx 8rpx;
        color: #ffffff;
        font-weight: bold;
        margin-right: 14rpx;
      }
    }
  }
  .payMethod {
    .overage {
      box-sizing: border-box;
      padding: 30rpx 0;
      display: flex;
      // align-items: center;
      justify-content: space-between;
      border-top: 2rpx solid #e1e5e7;
      &:nth-child(1){
        border: none;
      }
    }
    .textIcon{
      .iconfont{
        color: #6bcc03;
        font-size: 60rpx;
        margin-right: 10rpx;
      }
      .title{
        font-size: 30rpx;
        font-weight: bold;
      }
      &.disabled{
        .iconfont{
          color: #c8c9cc;
        }
        .title{
          color: #c8c9cc;
        }
      }
    }
    .advertis{
      color: #ffffff;
      font-size: 28rpx;
      background-color: #a7d500;
      display: inline-block;
      margin-top: 10rpx;
      box-sizing: border-box;
      padding: 10rpx 20rpx;
      border-top-left-radius: 30rpx;
      border-bottom-right-radius: 30rpx;
      .iconfont{
        margin: 0;
        font-size: 22rpx;
        color: #ffffff;
        margin-left: 8rpx;
        display: inline-block;
      }
    }
  }
  .submitBtn{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    height: 120rpx;
    width: 100%;
    box-shadow: 0 -1px 5px #e3e4e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .flex-2{
      box-sizing: border-box;
      padding-left: 30rpx;
    }
    .flex-1{
      background-color: #a7d500;
      height: 100%;
      text-align: center;
      line-height: 120rpx;
      color: #ffffff;
      font-size: 34rpx;
    }
  }
}
.payBtnPupop{
  box-sizing: border-box;
  padding: 0 40rpx;
  position: relative;
  .title{
    color: #313131;
    text-align: center;
    font-size: 32rpx;
    margin-top: 70rpx;
  }
  .shop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80rpx;
  }
  .address{
    display: flex;
    justify-content: space-between;
    margin-top: 20rpx;
    >view{
      font-size: 26rpx;
      color: #919191;
      flex: 1;
    }
    >navigator{
      margin-left: 40rpx;
      border: 2rpx solid #a7d500;
      height: 46rpx;
      width: 120rpx;
      line-height: 46rpx;
      text-align: center;
      font-size: 24rpx;
      color: #a7d500;
    }
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80rpx;
    >view{
      background-color: #a7d500;
      width: 96%;
      height: 90rpx;
      text-align: center;
      line-height: 90rpx;
      color: #ffffff;
      font-size: 30rpx;
      border-radius: 90rpx;
    }
  }
  >.iconfont{
    position: absolute;
    right: 40rpx;
    top: 30rpx;
    font-size: 34rpx;
    color: #919191;
  }
}